@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

body {
    font-family: 'Gaegu', cursive;
    justify-content: center;
    text-align: center;
}

.welcome {
    color: #efa51aff;
}

.navbar-brand {
    font-size: 35px;
    color: #0bafc1ff!important;
}

.nav-link {
    font-size: 30px;
}

.nav-link:hover {
    color: #0bafc1ff!important;
}

.jumbotron {
    justify-content: center;
    margin-top: 0px;
    background-color:  white;
    color:  #0a0a0aff;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.jokes {
    margin-top: 20px;
}

#joke_btn {
    margin-top: 25px;
    color: #efa51aff;
    border-style: solid;
    border-color: #efa51aff;
}

#joke_btn:hover {
  background-color:  #efa51aff;
  color: white;
}

.quote-carousel {
    margin-top: 50px;
}

.quotes {
    margin-top: 20px;
}

#quote_btn {
    margin-top: 25px;
    color: #0bafc1ff;
    border-style: solid;
    border-color: #0bafc1ff;
}

#quote_btn:hover {
    background-color: #0bafc1ff;
    color: white;
}

.social_footer {
    margin-top: 90px;
}

.social-links i {
    color: #0a0a0aff;
    font-size: 20px;
}

.social-links i:hover {
    color: #efa51aff;
}