@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

body {
    font-family: 'Gaegu', cursive;
    justify-content: center;
    text-align: center;
}

/* ----------- Navbar -------------------------------------- */

.navbar-brand {
    font-size: 35px;
    color: #0bafc1ff!important;
}

.nav-link {
    font-size: 30px;
}

.nav-link:hover {
    color: #0bafc1ff!important;
}

/* ----------- Heading/Jumbotron --------------------------- */
h2 {
    color: #efa51aff;
}

.jumbotron {
    justify-content: center;
    margin-top: 0px;
    background-color:  white;
    color:  #0a0a0aff;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

/* ----------- Jokes section --------------------------- */

#joke_btn {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #efa51aff;
    border-style: solid;
    border-color: #efa51aff;
    border-radius: 35px;
}

.result {
   justify-content: center; 
   font-size: 20px;
}

#joke_btn:hover {
  background-color:  #efa51aff;
  color: white;
}

#fun-carousel {
    margin-bottom: 20px;
}

#type {
    margin-top: 20px;
}

.carousel-control-next-icon {
    color:  #0a0a0aff;
}

/* ----------- Quotes section --------------------------- */

.quote-carousel {
    margin-top: 50px;
}

.quotes {
    margin-top: 20px;
    font-size: 20px;
}

#quote_btn {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #0bafc1ff;
    border-style: solid;
    border-color: #0bafc1ff;
    border-radius: 35px;
}

#quote_btn:hover {
    background-color: #0bafc1ff;
    color: white;
}



/* -----------Social links footer--------------------------- */

.social-footer-homepage {
    margin-top: 90px;
}

.social-links i {
    color: #0a0a0aff;
    font-size: 20px;
}

/* -----------Social share buttons--------------------------- */

.social-links i:hover {
    color: #efa51aff;
}

.fa-facebook-square {
    font-size: 30px;
    color: #3b5998;
}

.fa-twitter-square {
    font-size: 30px;
    color: #1DA1F2;
}

/* ----------- Submissions Page--------------------------- */

.submissions {
    margin-bottom: 10px;
}

.subs-copy {
    font-size: 20px;
    margin-bottom: 60px;
}

#submissions_btn {
    color: #efa51aff;
    background-color: white;
    border-style: solid;
    border-color: #efa51aff;
    outline-color: #efa51aff;
    border-radius: 35px;
}

#submissions_btn:hover {
  background-color:  #efa51aff;
  color: white;
}

.subs-social-links {
    margin-top: 90px;
}
/* ----------- Contact Page --------------------------- */

#contact-submit-btn {
    color: #efa51aff;
    background-color: white;
    border-style: solid;
    border-color: #efa51aff;
    outline-color: #efa51aff;
    border-radius: 35px;
}

#contact-submit-btn:hover {
    background-color:  #efa51aff;
    color: white;
}
.contact-copy {
    font-size: 20px;
    margin-bottom: 60px;
}

@media (max-width: 280px) {
  .navbar-brand {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 22px;
  }
}

